/* reset */
* {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

/* button style */
._button_cust {
  background-color: #EAC600;
  background-image: -webkit-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
  background-image: linear-gradient(to top, #EAC600 0%, #FBD710 100%);
  border-radius: 2px;
  color: #000;
  font-family: "PT Sans Narrow Bold";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

._title_blue {
  color: #1E71B8;
  font-family: "PT Sans Narrow Bold";
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

._title_black {
  color: #000;
  font-family: "PT Sans Narrow Bold";
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

span.bl-text {
  color: #000;
}

/*
* header
*/
.header {
  padding: 23px 0 90px 0;
  background-image: url(../img/fig1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.header_title {
  line-height: 73px;
  color: #000;
  font-family: "PT Sans Narrow Bold";
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_get_acquainted {
  margin-top: 40px;
  padding: 70px 75px;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.71);
}
.header_get_acquainted__title {
  margin-bottom: 50px;
  color: #1E71B8;
  font-family: "PT Sans Narrow Bold";
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_get_acquainted__text p {
  color: #000;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.header_get_acquainted__text p:first-child {
  margin-bottom: 30px;
}
.header_tv__img {
  margin: 125px auto 35px;
}
.header_tv__text {
  color: #000;
  font-family: "PT Sans Narrow Bold";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_step {
  position: relative;
}
.header_step__title {
  margin: 133px 0 30px;
  color: #1E71B8;
  font-family: "PT Sans Narrow Bold";
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_step__text {
  color: #000;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.header_step__text b {
  font-family: "PT Sans Narrow Bold";
}
.header_step__input input {
  width: 100%;
  padding: 15px 0 12px 20px;
  margin-top: 30px;
  background-color: #FFF;
  border: 1px solid #D9E3EC;
  border-radius: 2px;
  color: #696969;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.header_step__cover img {
  margin: 0 auto;
}
.header_step__button {
  cursor: pointer;
  position: absolute;
}
.header_step__button___text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000;
  font-family: "PT Sans Narrow Bold";
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/*
* leonid_bugaev
*/
.leonid_bugaev {
  background: #000;
  padding: 110px 0 115px;
  position: relative;
}
.leonid_bugaev_img {
  margin-top: -110px;
  margin-left: -24%;
}
.leonid_bugaev_img img {
  width: 145%;
  max-width: none !important;
}
.leonid_bugaev_title {
  margin-bottom: 45px;
  color: #1E71B8;
  font-family: "PT Sans Narrow Bold";
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
.leonid_bugaev_text p {
  color: #FFF;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: justify;
}
.leonid_bugaev_text p:first-child {
  margin-bottom: 95px;
}
.leonid_bugaev_text p:last-child {
  margin-top: 30px;
  color: #a6a8aa;
}
.leonid_bugaev_button {
  padding: 10px 33px 10px;
  margin-top: 50px;
}

/*
* academy_of_experts_and_selebs
*/
.academy_of_experts_and_selebs {
  background: #fff;
  padding: 90px 0 110px;
}
.academy_of_experts_and_selebs_title {
  margin-left: 10px;
}
.academy_of_experts_and_selebs_title_right {
  margin-bottom: 58px;
}
.academy_of_experts_and_selebs_gallery_hr {
  border-bottom: 1px solid #e3e4e7;
  padding-bottom: 75px;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 93px;
}
.academy_of_experts_and_selebs_list {
  margin-top: 75px;
}
.academy_of_experts_and_selebs_list__item {
  color: #000;
  font-family: "PT Sans Narrow";
  font-size: 16px;
  font-weight: 400;
  background-image: url("/img/fig6.png");
  background-repeat: no-repeat;
  background-position: 5% center;
  padding-left: 70px;
  margin-bottom: 15px;
}
.academy_of_experts_and_selebs_online__title {
  margin-top: 75px;
}
.academy_of_experts_and_selebs_online__text {
  font-family: "PT Sans Narrow Bold";
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}

/*
* key_programms
*/
/*
* books_of_leonid_bugaev
*/
/*
* reviews_graduates
*/
/*
* learn_how_to_build
*/
/*
* stay_connected
*/
/*
* footer
*/

/*# sourceMappingURL=style.css.map */