/* media quaries */

/* lg - Large devices (large desktops, 1100px and up) */
@media all and (max-width: 1100px) { 
    /* header */
    .header_logo {
        margin: 0 auto !important;
    }
    .header_title {
        text-align: center !important;
        line-height: 55px !important;
    }
    .header_get_acquainted {
        margin-top: 20px !important;
        padding: 29px 35px !important;
    }
    .header_tv__img {
        margin-top: 55px !important;
    }
    .header_steps {
        padding-top: 0px !important;
    }
    .header_step__title {        
        margin-top: 55px !important;
    }
    .header_step__input {
        text-align: center !important;
    }
    .header_step__cover img {
        margin: 93px auto !important;
    }
    /* leonid_bugaev */
    
    /* academy_of_experts_and_selebs */
    

}

/* lg-2 - Large devices (large desktops, 1099px and up) */
@media all and (max-width: 1099px) { 
    /* key_programms_content */
    .key_programms_content_item__butmorewrap {
        margin-top: 25px !important;
    }
}

/* md-2 - Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) { 
    /* stay_connected */
    #share42 .share42-item {
        margin: 0 20px 0 0 !important;
    }
    
    /* leonid_bugaev */
    .leonid_bugaev_img img {
        max-width: none !important;
    }
}

/* md - Medium devices (desktops, 992px and up) */
@media all and (max-width: 991px) { 
    /* header */
    .header_logo {
        margin: 0 auto !important;
    }
    .header_title {
        text-align: center !important;
        line-height: 44px !important;
        margin-top: 18px !important;
    }
    .header_get_acquainted__title {
        text-align: center !important;
    }
    .header_step__input input {    
        width: 46% !important;        
    }
    .header_step__title {
        text-align: center !important;        
    }
    .header_step__text {
        text-align: center !important;
    }
    .header_step__button {
        margin: 0 auto !important;
        position: relative !important;
        left: 2% !important;
    }
    .header_step__input input {
        text-align: center !important;
        padding: 13px 0 11px 0 !important;
    }
    
    /* leonid_bugaev */
    
    .leonid_bugaev_img img {
        max-width: 100% !important;
    }
    
    .leonid_bugaev_img {
        margin-left: 0 !important;
    }
    
    .leonid_bugaev_title {
        text-align: center !important;
    }
    
    .leonid_bugaev_button {
        display: table !important;
        margin: 25px auto 0 !important;
    }
    
    /* academy_of_experts_and_selebs */
    .academy_of_experts_and_selebs_title,
    .academy_of_experts_and_selebs_online__title {
        text-align: center !important;
        margin-left: 0 !important;
    }    
    .academy_of_experts_and_selebs_title_right {
        margin-top: 55px !important;
        text-align: center !important;
    }
    .fb_iframe_widget {
        display: table !important;
        margin: 25px auto 0 !important;
    }
    
    /* key_programms_title */
    /* books_of_leonid_bugaev_title */
    .key_programms_title_title, 
    .books_of_leonid_bugaev_title_title {
        text-align: center !important;
    }    
    
    /* key_programms_content */
    .key_programms_content_item__text {
        margin-top: 25px !important;
    }
    
    .key_programms_content_item__butmorewrap {
        text-align: center !important;
    }
    
    .key_programms_content_item__butmorewrap___click_here____text {
        padding-left: 0 !important;
    }
    
    /* reviews_graduates_content */
    .reviews_graduates_content_item__img {
        margin: 0 auto !important;
    }
    
    /* learn_how_to_build */
    .learn_how_to_build_title {
        text-align: center !important;
    }
    
    .learn_how_to_build .header_step__button {
        margin-top: 25px !important;
    }
    
    .learn_how_to_build_text {
        text-align: center;
    }
    
    /* stay_connected*/
    .stay_connected_title {
        text-align: center !important;
    }
    
    .stay_connected_share {
        float: none !important;
        text-align: center !important;
        display: block !important;
        margin-bottom: 55px;
    }
        
    .share42init {
        text-align: center !important;
    }
    
    .share42-item {
//        /*display: block !important;*/
        margin: 0 20px 20px 0 !important;
    }
    
    .share42-item:last-child {
        margin-right: 0 !important;
    }
    
    .stay_connected_social_icons {
        text-align: center !important;
    }
    
    /* footer */
    .footer {
        text-align: center !important;
    }
    
}

/* sm - Small devices (tablets, 768px and up) */
@media all and (max-width: 768px) { 
    /* header */
    .header_logo {
        margin: 0 auto !important;
    }
    .header_title {
        text-align: center !important;
    }
    .header_step__input input {    
        width: 46% !important;        
    }
    .header_step__input input {
        text-align: center !important;
        width: 35% !important;
        padding: 13px 0 11px 0 !important;
    }
    /* leonid_bugaev */
    
    /* academy_of_experts_and_selebs */
    .academy_of_experts_and_selebs_title {
        text-align: center !important;
        margin-left: 0 !important;
    }
    .academy_of_experts_and_selebs_gallery_hr__img  {
        margin: 0 auto !important;
    }
    
    /* key_programms_title */
    
    /* key_programms_content */
    
}

/* xs - Extra small devices (mobile phones, 767px and down) */
@media all and (max-width: 767px) { 
    /* header */
    .header_logo {
        margin: 0 auto !important;
    }
    .header_title {
        text-align: center !important;
    }
    .header_step__input {
        margin: 0 auto !important;
    }
    .header_step__input input {    
        width: 300px !important;        
    }    
    .header_get_acquainted {
        padding: 20px !important;
    }
    
    /* academy_of_experts_and_selebs */
    
    /* key_programms_title */
    
    /* key_programms_content */
    
    /* books_of_leonid_bugaev_content */
    .books_of_leonid_bugaev_content_item__title_blue,
    .books_of_leonid_bugaev_content_item__title_black {
        text-align: center !important;
    }
    
    /* reviews_graduates_content */
    .reviews_graduates_content_item__img {
        margin: 0 auto !important;
    }
    
}

@media all and (max-width: 645px) {
    .books_of_leonid_bugaev_title_title._title_blue {
        line-height: 50px !important;
        margin-top: 33px !important; 
    }
}

@media all and (min-width: 471px) {
    .books_of_leonid_bugaev_title .books_of_leonid_bugaev_title_title {
        margin-top: 0 !important;
        line-height: 171px !important;
    }
}

@media all and (max-width: 470px) {
    .books_of_leonid_bugaev_title_title._title_blue {
        line-height: 50px !important;
        margin-top: 33px !important;
    }
}

//@media all and (max-width: 455px) {
//    /* key_programms_title */
//    /* key_programms_title */
//    /* books_of_leonid_bugaev_title */
//    .key_programms_title_title,
//    .key_programms_title_title,  {
//        line-height: 50px !important;
//        margin-top: 33px !important;
//    }
//    
//    .books_of_leonid_bugaev_title_title._title_blue {
//        margin-top: 10px !important;
//    }
//}

@media all and (max-width: 455px) {
    .key_programms_title_title,
    .books_of_leonid_bugaev_title_title._title_blue {
        line-height: 50px !important;
        display: table-cell !important;
        vertical-align: middle !important;
        height: 171px !important;   
        text-align: center;
    }
}

@media all and (max-width: 410px) {
    /* key_programms_content */
    .key_programms_content_item__butmorewrap___click_here {
        display: table !important;
        margin: 0 auto !important;
    }
    .key_programms_content_item__butmorewrap___forknowmore {
        display: block !important;
        text-align: center !important;
    }
    
    /* books_of_leonid_bugaev_content */
    .books_of_leonid_bugaev_content_item__img {
        margin-top: 25px !important;
    }
}

@media all and (max-width: 360px) { 
    /* header */
    .header_step__button {
        margin: 0 auto !important;
        position: relative !important;
        left: 0px !important;
        width: 100% !important;
    }    
    
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header_step__input input {
        width: 80% !important;
    }
    .learn_how_to_build .header_step__input input {
        width: 46% !important;
    }
}

@media all and (max-width: 336px) {
    .share42-item,
    .share42-item:last-child {
        display: block !important;
        margin: 0 auto 20px !important;
    }
}


