/* button style */
._button_cust {
    background-color: #EAC600;
    background-image: -moz-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
    background-image: -o-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
    background-image: -webkit-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
    background-image: linear-gradient(to top, #EAC600 0%, #FBD710 100%);
    border-radius: 2px;    
    color: #000;
    font-family: "PT Sans Narrow Bold";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

._title_blue {    
    color: #1E71B8;
    font-family: "PT Sans Narrow Bold";
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

._title_black {    
    color: #000;
    font-family: "PT Sans Narrow Bold";
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

span.bl-text {
    color: #000;
}

.fsError {
    position: absolute;
    bottom: 0;
    left: 10px;
}