/*
* header
*/

.header {
    padding: 23px 0 90px 0;    
    background-image: url(../img/fig1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    &_header_logo {
        
    }
    &_title {
        line-height: 73px;
        color: #000;
        font-family: "PT Sans Narrow Bold";
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &_get_acquainted {
        margin-top: 40px;
        //padding: 70px 80px;
        padding: 70px 75px;
        background: #fff;
        background-color: rgba(255,255,255,.71);
        &__title {            
            margin-bottom: 50px;
            color: #1E71B8;
            font-family: "PT Sans Narrow Bold";
            font-size: 44px;
            line-height: 44px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__text p {
            color: #000;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;   
            text-align: justify;
            &:first-child {
                margin-bottom: 30px;
            }
        }
    }
    &_tv {
        &__img {
            margin: 125px auto 35px;
        }
        &__text {            
            color: #000;
            font-family: "PT Sans Narrow Bold";
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    &_steps {
        padding-top: 133px;
        position: relative;
    }
    &_step {        
        &__title {
            margin-bottom: 30px;
            color: #1E71B8;
            font-family: "PT Sans Narrow Bold";
            font-size: 28px;
            line-height: 28px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__text {            
            color: #000;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
        &__text b {
            font-family: "PT Sans Narrow Bold";
        }
        &__input input  {            
            width: 100%;
            padding: 13px 0 11px 20px;            
            margin-top: 30px;
            background-color: #FFF;
            border: 1px solid #D9E3EC;
            border-radius: 2px;            
            color: #696969;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 16px;
            font-weight: 400;
        }
        &__cover img {
            margin: 66px auto;
        }
        &__button {
            width: 330px;
            height: 75px;
            margin-top: 30px;
            background-image: url(/img/fig4.png);
            background-repeat: no-repeat;
            background-size: 330px 75px;
            background-position: 0 0;
            background-attachment: scroll;
            transition: all .3s ease-in-out;            
        }        
        &__button input {            
            background-color: #EAC600;
            background-image: -moz-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
            background-image: -o-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
            background-image: -webkit-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
            background-image: linear-gradient(to top, #EAC600 0%, #FBD710 100%);
            border-radius: 2px;
            border: none;
            border-radius: none;    
            height: 45px;
            width: 300px;
            color: #000;
            font-family: "PT Sans Narrow Bold";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            cursor: pointer;
//            transition: all .3s ease-in-out;
            &:hover, &:active, &:focus {
                background-image: -moz-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                background-image: -o-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                background-image: -webkit-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                background-image: linear-gradient(to top, #FBD710 0%, #EAC600 100%);
                text-shadow: 1px 1px 3px #999;
            }
        }
        
    }
}