/*
* key_programms_content
*/

.key_programms_content {
    padding: 155px 0  140px;
    &_item {
        margin-bottom: 139px;
        display: table;
        &:last-child {
            margin-bottom: 0;
        }
        &__img {
            width: 100%;
        }
        &__text {        
            color: #000;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            text-align: justify;
        }
        &__butmorewrap {
            margin-top: 55px;
            &___click_here {
                display: inline-block;
                width: 183px;
                height: 70px;                
                background-image: url('/img/fig20.png');
                background-repeat: no-repeat;
                background-size: 183px 70px;
                background-attachment: scroll;
                background-position: 0 0;
                &:hover, &:active, &:focus {
                    text-decoration: none;
                    color: #000;
                }
                &____text {
                    border-radius: 2px;
                    width: 159px;
                    height: 44px;
                    padding: 9px 0 0 16px;
                    color: #000;
                    font-family: "PT Sans Narrow Bold";
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    cursor: pointer;                    
                    background-color: #EAC600;
                    background-image: -moz-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
                    background-image: -o-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
                    background-image: -webkit-linear-gradient(bottom, #EAC600 0%, #FBD710 100%);
                    background-image: linear-gradient(to top, #EAC600 0%, #FBD710 100%);
                    &:hover, &:active, &:focus {                        
                        background-image: -moz-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                        background-image: -o-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                        background-image: -webkit-linear-gradient(bottom, #FBD710 0%, #EAC600 100%);
                        background-image: linear-gradient(to top, #FBD710 0%, #EAC600 100%);
                        text-shadow: 1px 1px 3px #999;
                    }
                }
                
            }
            &___forknowmore {
                color: #000;
                font-family: "PT Sans Narrow Bold";
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}