/*
* key_programms_title
*/

.key_programms_title {
    height: 171px;
    width: 100%;
    background-image: url(../img/fig8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    &_title {
        line-height: 171px;    
    }
}