/*
* books_of_leonid_bugaev_title
*/

.books_of_leonid_bugaev_title {
    height: 171px;
    width: 100%;
    background-image: url(../img/fig9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    &_title {
        line-height: 171px;    
    }
}