/*
* reviews_graduates_content
*/

.reviews_graduates_content {
    .container {
        overflow: hidden;
        position: relative;
    }
    padding: 102px 0 50px;
    &_carousel {
        li {
            height: auto !important;
        }
        &_prev {
            z-index: 999;
            position: absolute;
            top:30%;
            left:0;
            width: 21px;
            height: 49px;
            background-image: url('/img/fig26.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-attachment: scroll;
            background-size: 21px 49px;
            text-indent: -999999px;
            cursor: pointer;
        }
        &_next {
            z-index: 999;
            position: absolute;
            top:30%;
            right:0;
            width: 21px;
            height: 49px;
            background-image: url('/img/fig27.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-attachment: scroll;
            background-size: 21px 49px;
            text-indent: -999999px;
            cursor: pointer;
        }        
    }
    &_item {        
        &__img_shadow {
            width: 303px;
            height: 315px;
            background-image: url('/img/fig25-1.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-attachment: scroll;
            background-size: 303px 315px;
            position: relative;            
            &___img {
                width: 220px;
                height: 220px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &__text {
            display: table;
            margin-top: 35px;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: #000;
            text-align: justify;
        }
        &__who {            
            margin-top: 30px;
            font-family: "PT Sans Narrow";
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;     
            color: #357FBF;
        }        
    }
}